@charset "utf-8";
/* CSS Document */
.woocommerce-ordering { margin:0 !important;}
.image-wrap img { max-width:40% !important; max-height:33.333%;}
.woocommerce ul.products li.first, .woocommerce-page ul.products li.first { clear:none !important;}
.product-image-wrapper .yith-wcwl-add-to-wishlist .ajax-loading{display:none !important;}
.yith-wcwl-add-to-wishlist{margin-top:0 !important;}
select.orderby {
  border: none;
}
.orderby:focus{
  border: 0px solid #bfbfbf !important;
}
.search_top{
  margin: 14px auto 0 !important;
}
/**/.hover-eff{
	position:relative;
	min-height: 250px;
}
.hover-eff .display-onhover {
  position: absolute;
  width: 100%;
  bottom: 0;
  float: left;
  left: 0px;
}
.display-onhover {
  position: absolute;
  width: 100%;
  bottom: 0;
  float: left;
  left: 0px;
}

.hover-eff.display-onhover {
  position: absolute;
  width: 100%;
  bottom: 0;
  float: left;
  left: 0px;
}
.product-image-wrapper a img {
  max-height: 250px;
}
#productPrice_del { font-size:27px;}
	
.sect-link{
	margin:0 0 20px 0px !important;
}
.sect-list-view{
	padding-bottom: 0 !important; 
}
.add-wish .yith-wcwl-add-to-wishlist .ajax-loading { display:none !important;}
.main-content { min-height:600px;}
.wishlist_table .product-thumbnail {
    width: 25%;
}
.wishlist_table .product-price {
    width: 20%;
}
.wishlist_table .nobr {
    color: #000;
    float: left;
    font-size: 18px;
    letter-spacing: 2px;
    text-align: center;
    width: 100%;
}
.wishlist_table .product-name > a {
    font-size: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.wishlist_table .amount {
    font-size: 15px;
    text-transform: uppercase;
}
.wishlist_table .product-remove a.remove {
    background: none repeat scroll 0 0 #000;
    border: 0 none;
    border-radius: 50% !important;
    color: #fff !important;
    display: block;
    font-size: 1.5em;
    font-weight: 700;
    height: 20px !important;
    left: 10px;
    line-height: 1 !important;
    position: relative;
    text-align: center;
    text-decoration: none;
    width: 20px !important;
}
.wp-social-login-provider-list { padding:0 !important;}
.wp-social-login-provider-list img { margin-bottom:10px;}
.error-msg { display:none; color:#F56E30 ;}
.display-onhover .add-to-links.compare-button{padding:10px !important; margin:0 !important;}

.filters-left form{
	  float: left;
  width: 100%;
  padding: 10px 0px;
}
.price_slider_wrapper {
  float: left;
  width: 100%;
  position: relative;
  top: 6px;
  margin-bottom : 20px;
}
.search-bar-product { padding:0px !important;}
.attr_label { display:inline-block; width:118px;}
.wishlist-empty { font-size:16px;}
.flex-viewport { min-height:400px;}
.products-grid li { max-height: 339px; margin-bottom: 15px;}

.list-style {
  float: left;
  width: 20%;}
.slick-list .multiple { width:285px !important; position:relative;}
.slick-slider .slick-next { right:10px !important;}
.slick-list .multiple img {max-width:260px;max-height:250px; margin:0 auto;}
.slick-slider .slick-next { right:-12px !important;}

/*----------*/
.carousel-indicators {
  bottom: 86px !important;
}
.carousel-indicators li{
  border-radius: 0px !important;
}
@media (max-width:1010px){
	.carousel-indicators {
  bottom: 88px !important;
}
}
@media only screen and (min-width: 769px){
.site-footer-sec .large--one-quarter {
  width: 30% !important;
}
}
@media (max-width:480px){
.bg-menu {
  background: #000;
  float: left;
  width: 100%;
  margin-top: 0px;
}
ul.nav li a{
padding: 0px 5px 10px !important;
}
.navbar-nav {
  margin: 7.5px 0px;
}
}
@media screen and (max-width: 768px) {
.site-header .search-bar {
	display:block !important;
}
.header-cart-btn{
	display:block !important;
	margin: 5px auto !important;
  width: 255px;
}
h1.footer-product {
  position: relative;
  top: 20px;
  font-size: 18px;
  margin: 0 0 10px;
}
.search-bar input[type="search"] {
  background: #e6e6e6 !important;
  width: 100%;
  margin-bottom: 0;
  line-height: 1.2;
  padding: 8px 45px 8px 10px !important;
  height: auto !important;
  font-family: 'Nilland';
  font-size: 14px;
  line-height: 1;
}
.carousel-indicators {
  bottom: 130px !important;
}
}
@media (max-width: 514px){
.search {
  float: left;
  width: 100%;
  margin: 0px auto !important;
}
.navbar-brand>img {
  display: block;
  width: 70%;
}
}
span.glyphicon.glyphicon-chevron-right{
  background-color: #000;
  height: 50px;
  background:url(../images/right.png) no-repeat 100% 50% #000;
}
span.glyphicon.glyphicon-chevron-left {
  background-color: #000;
  height: 50px;
  background:url(../images/left.png) no-repeat 100% 50% #000;
}
.slider_banner_con {
  position: absolute;
  top: 230px;
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
  right: 20%;
  padding:35px;
  width:320px;
}
.header-slider-content{
	font-size:30px;
	font-family: 'Nilland-Black';
	margin: 0 0 20px;
}
.slider_banner_con p {
  margin: 30px 0 35px 0;
  font-size:16px;
}
.slider_banner_con a {
  background: #F56E30 ;
  color: #fff;
  width: 100%;
  float: left;
  text-align: center;
  padding: 6px;
  font-size:16px;
}	

.slider_banner_con a:hover {
	background:#333;
	color:#fff;
}
.drop_down_singlewidth {
	background:#f9f9f9;
}

.drop_down_singlewidth li {
	border:none !important;
	padding:5px;

	}
.post-ratings IMG, .post-ratings-loading IMG, .post-ratings-image IMG { padding:2px !important;}
.star-list ul li img {width: 23px;}
.advanced-filters { overflow-y:scroll !important;min-height:100px !important; overflow:hidden; height:auto !important; max-height:300px;}
.mtree_mainwidth { width:100%;}
.recent_views{
	float:left;
	background:#f9f9f9;
	padding:15px !important;
}
.recent_views h3{
	font-size:15px;
}
.autocomplete-suggestions { max-height:none !important; box-shadow:0px 0px 20px rgba(0, 0, 0, 0.2)}
#saved_search_form { float:none !important;}
.products-grid .wishlist_review li div img{
	width:23px !important;
}
.star-list ul li { padding-top:5px;}
.sub_btn{
	position:relative;
}
.side_checkbox {
    padding: 0 8px 0 0;
    position: relative;
    top: 3px;
}
.shop_loading { margin-left:46%; margin-top:20%; min-height:350px;}
.size_grid {
    float: right;
    position: relative;
}
.form-horizontal .orderby{padding:0;}
.size_grid span{cursor:pointer; padding:0 5px; float:left}
.layout-picker {
    height: 20px;
    overflow: hidden;
    width: 20px;
}
.layout-picker .six_size_selected {
    height: 5px;
    width: 5px;
	background: #999;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    box-sizing: content-box !important;
    display: block;
    float: left;
}
.layout-picker-four {
    height: 18px;
    overflow: hidden;
    width: 18px;
}
.layout-picker-four .four_size_selected{
    height: 8px;
    width: 8px;
	background: #999;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    box-sizing: content-box !important;
    display: block;
    float: left;
}
.layout-picker-four:hover .four_size_selected, .layout-picker:hover .six_size_selected{
	background:#F56E30;
}
.layout-picker.active .six_size_selected, .layout-picker-four.active .four_size_selected{
	background:#F56E30;
}
li.item.first.col-xs-6.col-md-3.col-sm-4.for_spcl.col-lg-3 .add-to-links li{
  padding: 0 10%;
}
li.item.first.col-xs-6.col-md-3.col-sm-4.col-lg-2.for_spcl .add-to-links li{
	padding:0 7%;
}
@media (max-width: 1400px){
	li.item.first.col-xs-6.col-md-3.col-sm-4.for_spcl.col-lg-3 .add-to-links li{
  padding: 0 9%;
}
li.item.first.col-xs-6.col-md-3.col-sm-4.col-lg-2.for_spcl .add-to-links li{
	padding:0 4%;
}
}

	
.prev_pages{
	float:left;
}
.next_pages{
	float:right;
}
.section-header .woocommerce-pagination{
	margin:0 auto;
	width:100%;
	text-align:center !important;
}
.section-header .woocommerce-pagination .page-numbers{
	padding:0 5px;
}
.section-header .woocommerce-pagination .page-numbers.current{
	color:#f00;
}
.section-header .prev_pages a{
	background:url("../images/leftpage.png") no-repeat 0% 0%;
	 padding: 5px 0px 6px 22px;
}
.section-header .next_pages a {
    background: url("../images/rightpage.png") no-repeat 100% 0;
    padding: 5px 21px 4px 0;
}
.for_header { position:fixed; z-index:9999; width:100%;}
.main-content {
    padding-top: 140px !important;
}
.com_height{
	min-height:830px;
}
/*.products-grid .wishlist_review li em { display:none;}*/
